
nav li, ul {
  display: inline;
  font-size: 14px;
  list-style: none;
}


.logo {
  background-image: url(https://www.nysdental.org/sites/default/files/sofi_horiz_dark_text.png);
  background-repeat: no-repeat;
  background-size: contain;
  height:40px;
  margin-right: 80vw;
  margin-left: 5vw;
  position:absolute;
  width: 100px;
}

.nav-menu {
  padding-left: 200px;
  padding-top: 15px;
  margin-top: 15px;
}

.nav-login {
  /*position:absolute;*/
}

.nav-btn {
  background-color: #15c0f1;
  color: white;
  /*font-family: gotham bold;*/
}
.nav-btn:hover {
  background-color: transparent;
  color: #15c0f1;
}

.jumbotron {
  background-image: url(//cdn.optimizely.com/img/20891654/47670a2b92944378a4528ea2b91065a3.jpg);
  background-position: 0% 70%;
  height:500px;
  background-size: cover;
  width: 100vw;
}
